<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blank Page - Brand</title>
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" th:href="@{/assets/fonts/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/bs-theme-overrides.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Articles-Cards-images.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Lightbox-Gallery-baguetteBox.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Navbar-With-Button-icons.css}">
    <link rel="stylesheet" th:href="@{/assets/css/custom.css}">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark" style="background: var(--bs-primary);">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="productsadm">
                <div class="logo-artinlife"></div>
                    <div class="sidebar-brand-text mx-3 ps-0 ms-2"><span>Art in life</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link active" href="productsadm"><i class="fas fa-shopping-bag"></i><span>Produtos</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="usersadm"><i class="fas fa-users"></i><span>Usuários</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-expand bg-white shadow mb-4 topbar">
                    <div class="container-fluid">
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown no-arrow"><button class="btn btn-primary" type="button" id="btn-logout">Sair</button></li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col"><button class="btn btn-primary" type="button" data-bs-target="#modal-cadastrar-produto" data-bs-toggle="modal">Novo produto</button></div>
                                <div class="col"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Pesquisar" style="height: 38px;"></div>
                            </div>
                            <div class="table-responsive mt-3">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style="min-width: 60px;max-width: 100px;">Código</th>
                                            <th style="min-width: 200px;">Nome</th>
                                            <th style="max-width: 50px;min-width: 50px;">Quantidade</th>
                                            <th style="min-width: 50px;max-width: 50px;">Valor</th>
                                            <th style="min-width: 50px;max-width: 50px;">Status</th>
                                            <th style="max-width: 20px;">Ação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="max-width: 100px;min-width: 50px;">Cell 1</td>
                                            <td style="min-width: 200px;">Cell 2</td>
                                            <td style="max-width: 50px;">Cell 3</td>
                                            <td style="max-width: 50px;">Cell 4</td>
                                            <td style="max-width: 50px;">Cell 5</td>
                                            <td>
                                                <div class="d-inline me-2">
                                                    <a href="#" class="btn-editar" data-id="${p.id}"><i class="fas fa-edit"></i></a>
                                                    <a href="#" class="btn-visualizar" data-id="${p.id}"><i class="far fa-eye"></i></a>
                                                </div>
                                                <div class="form-check form-switch d-inline ms-2">
                                                    <input class="form-check-input switch-status" type="checkbox" data-id="${p.id}" ${p.status ? "checked" : ""}>
                                                </div>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <nav class="float-end">
                                <ul class="pagination pagination-sm">
                                    <li class="page-item"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Art in Life 2025</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <div class="modal fade modal-xl" role="dialog" tabindex="-1" id="modal-cadastrar-produto">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Cadastrar produto</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-xxl-7">
                                <div class="mb-3"><label class="form-label" for="nome-produto">Nome do produto:</label><input class="form-control" type="text" id="nome-produto"></div>
                                <div class="mb-3"><label class="form-label" for="preco-produto">Preço:</label><input class="form-control" type="text" id="preco-produto"></div>
                                <div class="mb-3"><label class="form-label" for="quantidade-produto">Quantidade em estoque:</label><input class="form-control" type="text" id="quantidade-produto"></div>
                                <div class="mb-3"><label class="form-label" for="descricao-produto">Descrição:</label><textarea class="form-control" id="descricao-produto"></textarea></div>
                                <div class="mb-3"><label class="form-label" for="avaliacao-produto">Avaliação:</label><select class="form-select" id="avaliacao-produto">
                                        <option value="1" selected="">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select></div>
                                <div><label class="form-label" for="imagens-produto">Adicionar imagens</label><input class="form-control" type="file" id="imagens-produto" multiple=""></div>
                            </div>
                            <div class="col-xxl-5 text-center align-content-center" style="text-align: center;">
                                <div class="carousel slide" data-bs-ride="false" id="carousel-1" style="min-height: 500px;">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active"><img class="object-fit-cover w-100 d-block" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" alt="Slide Image" width="433" height="500"></div>
                                    </div>
                                    <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
                                    <div class="carousel-indicators"><button type="button" data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></button></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Fechar</button><button class="btn btn-primary" type="button">Salvar</button></div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-xl" role="dialog" tabindex="-1" id="modal-mostrar-produto">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Detalhes do produto</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row mt-5 mb-5">
                            <div class="col-7 align-content-center" style="min-height: 600px;">
                                <div class="carousel slide" data-bs-ride="false" id="carousel-5" style="background: white">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active"><img class="object-fit-contain w-100 d-block" alt="Slide Image" src="assets/img/photo-1695766786641-5990a153fc7b.jpg" width="624" height="597" style="min-height: 600px;"></div>
                                    </div>
                                    <div><a class="carousel-control-prev" href="#carousel-5" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-5" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
                                    <div class="carousel-indicators"><button type="button" data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></button></div>
                                </div>
                            </div>
                            <div class="col align-content-center">
                                <h1 class="mt-0">Nome do produto</h1>
                                <h5 style="color: rgb(166,166,166);" class="mb-0 mt-0">codigo</h5>
                                <span id="produto-avaliacao-estrelas" class="text-warning fs-4"><!-- Estrelas serão inseridas via JS --></span>
                                <p class="mb-0 mt-4">Descrição do produto</p>
                                <h3 class="mt-4 mb-0">Preço</h3>
                                <form>
                                    <div class="input-group mt-4" style="width: 170px;">
                                        <button class="btn" type="button" style="background: #dcdcdc;" onclick="decrement()">-</button>
                                        <input id="quantity" class="form-control" type="text" value="1" style="text-align: center;" readonly>
                                        <button class="btn btn-primary" type="button" onclick="increment()">+</button>
                                    </div>
                                    <button class="btn btn-primary mt-4" type="button">Adicionar ao carrinho</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Fechar</button><button class="btn btn-primary" type="button">Salvar</button></div>
            </div>
        </div>
    </div>
    <script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/Lightbox-Gallery-baguetteBox.min.js}"></script>
    <script th:src="@{/assets/js/Lightbox-Gallery.js}"></script>
    <script th:src="@{/assets/js/theme.js}"></script>
    <script th:src="@{/assets/js/logout.js}"></script>
    <script th:src="@{/assets/js/productsadm.js}"></script>
    <script th:src="@{/assets/js/acesso_stocker.js}"></script>
</body>

</html>