<!DOCTYPE html>
<html data-bs-theme="light" lang="pt-pt">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Cart - Art in Life</title>
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" th:href="@{/assets/fonts/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/bs-theme-overrides.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Articles-Cards-images.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Lightbox-Gallery-baguetteBox.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Navbar-With-Button-icons.css}">
</head>

<body id="page-top">
     <div id="wrapper" style="height: 100vh;">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-expand-md py-3 mb-0" style="background: rgb(255, 255, 255);box-shadow: 0px -18px 20px rgb(81,81,81);">
                    <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon" style="background: url(&quot;assets/img/logo-1.png&quot;) no-repeat;background-size: contain;"></span><span>Art in Life</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navcol-1">
                            <ul class="navbar-nav me-auto">
                                <li class="nav-item"><a class="nav-link" href="index">Home</a></li>
                                <li class="nav-item"><a class="nav-link active" href="store">Loja</a></li>
                                <li class="nav-item"></li>
                                <li class="nav-item"><a class="nav-link" href="loginadm">Area restrita</a></li>
                            </ul>
                        </div>
                        <div class="dropdown me-3"><a aria-expanded="false" data-bs-toggle="dropdown" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -32 576 576" width="1em" height="1em" fill="currentColor" id="cart" class="pe-0" style="font-size: 33px;color: #2C3E50;">
                                    <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. -->
                                    <path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"></path>
                                </svg></a>
                            <div class="dropdown-menu dropdown-menu-end" style="min-width: auto;">
                                <div class="table-responsive pb-0 ms-2 me-2">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td><img class="object-fit-cover" style="width: 50px;height: 50px;"></td>
                                                <td class="align-content-center" style="min-width: 300px;">Nome</td>
                                                <td class="align-content-center" style="min-width: 70px;">Preço</td>
                                                <td class="align-content-center">x1</td>
                                                <td class="align-content-center"><a href="#"><i class="fas fa-trash"></i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <p class="ms-3 me-3">Subtotal:&nbsp;<span>R$</span></p>
                                <div style="text-align: center;" class="ms-3 me-3"><a class="btn btn-primary btn-sm ms-2 me-2" role="button" style="width: 200px;" href="cart">Checkout</a></div>
                            </div>
                        </div>
                        <div class="dropdown"><a aria-expanded="false" data-bs-toggle="dropdown" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="-32 0 512 512" width="1em" height="1em" fill="currentColor" style="font-size: 30px;color: #2C3E50;">
                                    <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. -->
                                    <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"></path>
                                </svg></a>
                            <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Perfil</a>
                                <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Pedidos</a>
                                <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Sair</a>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="container pt-0 mt-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Carrinho</h4>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Produto</th>
                                            <th style="max-width: 70px;">Quantidade</th>
                                            <th style="max-width: 50px;">Preço</th>
                                            <th style="max-width: 50px;">Total</th>
                                            <th style="max-width: 20px;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="min-width: 200px;"><img class="object-fit-cover me-2" alt="a number of paintings on a wall near one another" src="assets/img/photo-1679748075210-62ef0de22488.jpg" style="width: 100px;height: 100px;">Cell 1</td>
                                            <td class="align-content-center" style="max-width: 70px;">
                                                <div class="input-group mt-0" style="max-width: 170px;">
                                                    <button class="btn" type="button" style="background: #dcdcdc;" onclick="decrement()">-</button>
                                                    <input id="quantity" class="form-control" type="text" value="1" style="text-align: center;" readonly>
                                                    <button class="btn btn-primary" type="button" onclick="increment()">+</button>
                                                </div>
                                            </td>
                                            <td class="align-content-center" style="max-width: 50px;">Cell 3</td>
                                            <td class="align-content-center" style="max-width: 50px;">Cell 4</td>
                                            <td class="align-content-center" style="max-width: 20px;"><a href="#"><i class="fas fa-trash" style="font-size: 20px;"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-11 col-lg-6 col-xxl-6">
                                    <h4>Frete</h4>
                                    <form>
                                        <div class="input-group" style="width: 257px;"><input class="form-control" type="text" placeholder="00000-000"><button class="btn btn-primary" type="button">Calcular</button></div>
                                    </form>
                                </div>
                                <div class="col align-content-center">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td style="font-weight: bold;">Subtotal</td>
                                                    <td class="text-end">Cell 2</td>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: bold;">Frete</td>
                                                    <td class="text-end"></td>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: bold;">Total</td>
                                                    <td class="text-end">Cell 2</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" style="position: relative;"><button class="btn btn-primary float-end" type="button">Finalizar compra</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer" style="box-shadow: 0px 18px 20px 0px rgb(81,81,81);">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Art in Life 2025</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/Lightbox-Gallery-baguetteBox.min.js}"></script>
    <script th:src="@{/assets/js/Lightbox-Gallery.js}"></script>
    <script th:src="@{/assets/js/theme.js}"></script>

    <!-- scrpit do carrinho -->
    <script>
        function increment() {
            const input = document.getElementById("quantity");
            input.value = parseInt(input.value) + 1;
        }

        function decrement() {
            const input = document.getElementById("quantity");
            const current = parseInt(input.value);
            if (current > 1) {
                input.value = current - 1;
            }
        }
    </script>
</body>

</html>