<!DOCTYPE html>
<html data-bs-theme="light" lang="pt-pt">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login - Art in Life</title>
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" th:href="@{/assets/fonts/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/bs-theme-overrides.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Articles-Cards-images.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Lightbox-Gallery-baguetteBox.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Navbar-With-Button-icons.css}">
</head>

<body class="align-content-center bg-gradient-primary" style="background: var(--bs-primary);height: 100vh;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0" style="min-height: 500px;">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex" style="height: 500px;">
                                <div class="flex-grow-1 bg-login-image" style="background: url(&quot;assets/img/logo.png&quot;) center / cover no-repeat;"></div>
                            </div>
                            <div class="col-lg-6 align-content-center">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">Bem vindo</h4>
                                    </div>
                                    <form class="user" method="post" action="/dologinclient">
                                        <div class="mb-3"><input class="form-control form-control-user" type="email" id="email-input" aria-describedby="emailHelp" placeholder="Endereço de Email" name="username"></div>
                                        <div class="mb-3"><input class="form-control form-control-user" type="password" id="password-input" placeholder="Senha" name="password"></div><button class="btn btn-primary d-block btn-user w-100 mb-2" type="submit">Login</button>
                                    </form>
                                    <p style="text-align: center;">Ainda não possui uma conta?&nbsp;<a href="#">Clique aqui</a></p>
                                    <div style="text-align: center;" class="pt-0 mt-3"><a href="/index"><i class="far fa-arrow-alt-circle-left" style="font-size: 34px;"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/Lightbox-Gallery-baguetteBox.min.js"></script>
    <script src="assets/js/Lightbox-Gallery.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>