<!DOCTYPE html>
<html data-bs-theme="light" lang="pt-pt">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login ADM - ArtInLife</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900&display=swap">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/bs-theme-overrides.css">
    <link rel="stylesheet" href="/assets/css/Articles-Cards-images.css">
    <link rel="stylesheet" href="/assets/css/Lightbox-Gallery-baguetteBox.min.css">
    <link rel="stylesheet" href="/assets/css/Navbar-With-Button-icons.css">
</head>

<body class="align-content-center bg-gradient-primary" style="background: var(--bs-secondary);height: 100vh;">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-12 col-xl-10">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0" style="min-height: 500px;">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-flex" style="height: 500px;">
                            <div class="flex-grow-1 bg-login-image" style="background: url('/assets/img/logo.png') center / cover no-repeat;"></div>
                        </div>
                        <div class="col-lg-6 align-content-center">
                            <div class="p-5">
                                <div class="text-center">
                                    <h4 class="text-dark mb-4">Apenas acesso autorizado</h4>
                                </div>

                                <!-- LOGIN FORM CORRETO -->
                                <form method="post" action="/login">
                                    <div class="mb-3">
                                        <input class="form-control form-control-user"
                                               type="email"
                                               id="username"
                                               placeholder="Endereço de Email"
                                               name="username"
                                               required>
                                    </div>
                                    <div class="mb-3">
                                        <input class="form-control form-control-user"
                                               type="password"
                                               id="password"
                                               placeholder="Senha"
                                               name="password"
                                               required>
                                    </div>
                                    <button class="btn btn-primary d-block btn-user w-100" type="submit">Entrar</button>

                                    <!-- Mensagem de erro (caso login falhe) -->
                                    <div class="text-center mt-3 text-danger">
                                        <script>
                                            const params = new URLSearchParams(window.location.search);
                                            if (params.has("error")) {
                                                document.write("Email ou senha inválidos.");
                                            }
                                        </script>
                                    </div>
                                </form>

                                <div class="text-center pt-3">
                                    <a href="index"><i class="far fa-arrow-alt-circle-left" style="font-size: 34px;"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/Lightbox-Gallery-baguetteBox.min.js"></script>
<script src="/assets/js/Lightbox-Gallery.js"></script>
<script src="/assets/js/theme.js"></script>
</body>

</html>